@import 'buttons.css';

:root {
  --green: rgb(101, 189, 57);
  --citrus: #E3F41D;
  --teal: rgb(5, 218, 168);
}

* {
  margin: 0;
  box-sizing: border-box;
}

/* Type styles –––––––––––––––––––––––––––––––––––– */

.header h1 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 32pt;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  padding-bottom: 20px;
}

h1 {
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 32pt;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-bottom: 50px;
}

.header h2 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14pt;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 13pt;
  line-height: 22pt;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

p {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 13pt;
  line-height: 18pt;
}

p.spaced {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 13pt;
  line-height: 18pt;
  padding-bottom: 10px;
}

p.spaced-double {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 13pt;
  line-height: 18pt;
  padding-bottom: 30px;
}


/* Above the fold –––––––––––––––––––––––––––––––––––– */

.above-fold {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.header {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-about {
  display: flex;
  justify-content: center;
  align-items: center;
  background: repeating-linear-gradient( 
    45deg,
    transparent 0px,
    transparent 5px,
    black 5px,
    black 14px);
}

.header-about:hover {
  background-color: var(--teal);
  transition: background-color 500ms;
}

.header-projects {
  display: flex;
  justify-content: center;
  align-items: center;
    background: repeating-linear-gradient( 
    45deg,
    transparent 0px,
    transparent 5px,
    black 5px,
    black 14px);
}

.header-projects:hover {
  background-color: var(--green);
  transition: background-color 250ms;
}

.header-say-hi {  
  display: flex;
  justify-content: center;
  align-items: center;
  background: repeating-linear-gradient( 
    135deg,
    transparent 0px,
    transparent 5px,
    black 5px,
    black 14px);
}

.header-say-hi:hover {
  background-color: var(--citrus);
  transition: background-color 500ms;
}

/* Below the fold –––––––––––––––––––––––––––––––––––– */

.below-fold {
  margin: auto;
  max-width: 900px;
  padding: 0px 30px;
}

/* About section –––––––––––––––––––––––––––––––––––– */

.section-about {
  padding-top: 100px;
}

.button-spacer {
  height: 125px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Projects section –––––––––––––––––––––––––––––––––––– */

.section-projects {
  padding-top: 100px; 
}

i {
  color: black;
  font-size: 24pt;
  width: 33px;
  height: 33px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
}

/* –––––––––––––––– */

.project-1 {
  /* background-color: pink; */
  min-height: 280px;
  display: flex;
  flex-direction: column;
}

.project-1-top {
  height: 260px;
  background-image: url(https://raw.githubusercontent.com/annarosz/temp/master/OZPICS-hero4.png);
  background-size: cover;
  background-position: center;
}

.project-1-bottom {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* –––––––––––––––– */

.project-2 {
  /* background-color: yellowgreen; */
  min-height: 280px;
  display: flex;
  flex-direction: column;
}

.project-2-top {
  height: 260px;
  background-image: url(https://raw.githubusercontent.com/annarosz/magic8ball/master/universe_home.png);
  background-size: cover;
  background-position: center;
}

.project-2-bottom {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* –––––––––––––––– */

.project-3 {
  /* background-color: orange; */
  min-height: 280px;
  display: flex;
  flex-direction: column;
}

.project-3-top {
  height: 260px;
  background-color: #939598;
}

.project-3-bottom {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* –––––––––––––––– */

.project-4 {
  /* background-color: lightsalmon; */
  min-height: 280px;
  display: flex;
  flex-direction: column;
}

.project-4-top {
  height: 260px;
  background-color: #939598;
}

.project-4-bottom {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Say Hi section –––––––––––––––––––––––––––––––––––– */

.section-say-hi {
  padding-top: 100px;  
}

/* Footer –––––––––––––––––––––––––––––––––––– */

footer {
  height: 125px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom {
  height: 800px;
  background: repeating-linear-gradient( 
    135deg,
    transparent 0px,
    transparent 5px,
    black 5px,
    black 14px);
}

/* Media queries –––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 768px) {

  .above-fold {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .header-about {
    background: repeating-linear-gradient( 
      135deg,
      transparent 0px,
      transparent 5px,
      black 5px,
      black 14px);
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .button-spacer {
    height: 125px;
    border-bottom: 0.5px solid black;
  }

  .header-about {
    background-color: var(--teal);
  }

  .header-projects {
    background-color: var(--green);
  }

  .header-say-hi {
    background-color: var(--citrus);
  }

  .section-about {
    padding-top: 70px;  
  }

  .section-projects {
    padding-top: 70px; 
  }

  .section-say-hi {
    padding-top: 70px;  
  }

  .bottom {
    height: 300px;
  }
