* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white ;
 }

html {
  scroll-behavior: smooth; 
}

/* ___BUTTONS___ */

a {
  font-family: 'Inter', sans-serif;
  color: black;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-decoration: none;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}

@media only screen and (max-width: 650px) {
  a {
    font-size: 15px;
  }
}

a:hover {
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}

.button-contact {
  border: solid black 1px;
  background-color: yellow;
  padding: 12px 20px 12px 20px;
  height: 40px;
  border-radius: 30px;
}
.button-contact:hover {
  background-color: pink;
}

.case-study-btn {
  background-color: yellow;
  padding: 12px 20px 12px 20px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  border-radius: 30px;
  border: solid black 1px;
}

@media only screen and (max-width: 650px) {
  .case-study-btn {
    bottom: 160px;
    right: 15px;
  }
}

.case-study-btn:hover {
  background-color: pink;
}

/* ___HOME___ */

.nav-home-top {
  padding: 30px;
  position: fixed;
  z-index: 5;
}

@media only screen and (max-width: 650px) {
  .nav-home-top {
    padding: 30px 15px 30px 15px;
  }
}

.carousel {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.carousel-slide {
  display: none;
  width: 100%;
  height: 100vh;
}

.carousel-slide.active {
  display: block;
}

.container-slide {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 650px) {
  .container-slide {
    height: 80vh;
  }
}

.container-slide-image img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 650px) {
  .container-slide-image img {
    height: 50vh;
    width: auto;
  }
}

@media only screen and (max-width: 650px) {
  .slide-split {
    display: flex;
    flex-direction: column;
  }

  .slide-split-image {
    width: 100%;
  }

  .slide-split-text {
    width: 100%;
  }
}

/* ---- PAGE HEADERS ----- */

.nav-wrapper {
  padding: 30px;
  position: fixed;
  right: 0px;
  z-index: 5;
}

.header-page {
  height: 80vh; 
  background-size:cover; 
  background-position: center;
}

@media only screen and (max-width: 650px) {
  .nav-wrapper {
    flex-direction: column;
  }
  
  .header-page {
    height: 60vh; 
  }
}

/* ----- CONTAINERS ---- */

.container-inset {
  padding: 4em;
}

@media only screen and (max-width: 500px) {
  .container-inset {
    padding: 1em;
  }
}

.container-inset-2-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: black;
}

@media only screen and (max-width: 980px) {
  .container-inset-2-column {
    grid-template-columns: 1fr;
  }
}

.container-inset-text {
  padding: 4em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (max-width: 500px) {
  .container-inset-text {
    padding: 1em;
  }
}

.container-inset-image  {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-inset-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.container-inset-large {
  padding: 8em 16em 8em 16em;
}

@media only screen and (max-width: 600px) {
  .container-inset-large {
    padding: 2em;
  }
}

.container-inset-large img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* ----- BIO ---- */

.container-inset-bio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-inset-bio-top {
  background-color: white;
  padding: 2.5em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-inset-bio-bottom {
  background-color: #FCCBB7;
  padding: 2.5em;
}

/* ----- ALL PROJECTS ---- */

.container-projects-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  background-color: black;
}

.container-projects-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1px;
  background-color: black;
}

.container-projects-item {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: flex-start;
}

.container-projects-item-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-projects-item-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.container-projects-item-text {
  padding: 2.5em;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 980px) {
  .container-projects-3 {
    grid-template-columns: 1fr;
  }

  .container-projects-4 {
    grid-template-columns: 1fr;
  }

  .container-projects-item {
    flex-direction: row;
  }

  .container-projects-item-image {
    width: 50%;
  }

  .container-projects-item-text {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {

  .container-projects-item {
    flex-direction: column;
  }

  .container-projects-item-image {
    width: 100%;
  }

  .container-projects-item-text {
    width: 100%;
  }
}

/* –––––– SPACER ––––––– */

hr {
  border-top: 0.5px solid green;
}

.spacer-small {
  height: 3em;
}

@media only screen and (max-width: 500px) {
  .spacer-small {
    height: 60px;
  }
}

.spacer-micro {
  height: 18px;
}

/* ––––––––––––––– TYPOGRAPHY ––––––––––––––– */

h1 {
  font-family: 'Chivo', sans-serif;
  font-size: 2em;
  line-height: 1.1;
  font-weight: 400;
}

h2 {
  font-family: 'Chivo', sans-serif;
  font-size: 2em;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0px;
  padding: 0px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.5em;
  }
  
  h2 {
    font-size: 1.5em;
  }
}

h3 {
  font-family: 'Chivo', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.2em;
}

h4 {
  font-family: 'Chivo', sans-serif;
  color: darkcyan;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3em;
}

p {
  font-family: 'Inter', sans-serif;
  color: black;
  font-size: 15px;
  font-weight: 400;
  max-width: 1000px;
  letter-spacing: 0.2px;
  margin: 0px;
  padding: 0px;
}

small {
  font-size: 13px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

li {
  font-family: 'Inter', sans-serif;
  color: black;
  font-size: 15px;
  font-weight: 400;
  max-width: 1000px;
  letter-spacing: 0.2px;
  padding-bottom: 4px;
}

ul {
  padding-left: 15px;
}

/* ––––––––– FOOTER ––––––––– */

.footer {
  margin-bottom: 56px;
  max-width: 800px;
}

.footer img {
  max-height: 12px;
  width: auto;
  position: relative;
  top: 2px;
}

/* ––––––––– TRANSITIONS ––––––––– */

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.4s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* ––––––––– PARALLAX ––––––––– */

.parallax-MIM {
  background-image: url("../assets/MIM_HEADER_1.jpg");
  min-height: 80vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-SUN {
  background-image: url("../assets/SUN_HEADER_1.jpg");
  min-height: 80vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-TK {
  background-image: url("../assets/TK_PHONE-MULTI.jpg");
  min-height: 80vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-WH {
  background-image: url("../assets/WH_HEADER.jpg");
  min-height: 80vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .parallax-MIM {
    min-height: 60vh;
    width: 100%;
    background-size: contain;
    background-position: center top;
    background-image: url("../assets/MIM_HEADER-MOBILE.jpg");
  }
  .parallax-SUN {
    min-height: 60vh;
    width: 100%;
    background-size: contain;
    background-position: center top;
    background-image: url("../assets/SUN_HEADER-MOBILE.jpg");
  }
  .parallax-TK {
    min-height: 60vh;
    width: 100%;
    background-size: contain;
    background-position: center top;
    background-image: url("../assets/TK_HEADER-MOBILE.jpg");
  }
  .parallax-WH {
    min-height: 60vh;
    width: 100%;
    background-size: contain;
    background-position: center top;
    background-image: url("../assets/WH_HEADER-MOBILE.jpg");
  }
}
