* {
  margin: 0;
  box-sizing: border-box;
}

body {
background-color: #fff59d;
}

body {
  transition: 1s background-color;
 }
 
 .change {
   min-height: 80vh;
   width: 100%;
   margin: 40px auto;
   margin-bottom: 400px;
   /* border: white solid 2px; */
 }

 .container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0px 56px 0px 56px;
}

@media only screen and (max-width: 650px) {
  .container {
    padding: 0px 24px 0px 24px;
  }
}


.header {
  /* background-color: yellow; */
  display: flex;
  align-items: center;
}

/* ––––––––––––––– TYPOGRAPHY ––––––––––––––– */

h1 {
  font-family: 'Chivo', sans-serif;
  color: black;
  font-size: 4em;
  font-weight: 400;
  /* padding-bottom: 0.75em; */
}

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 2em;
  }
}

