* {
  margin: 0;
  box-sizing: border-box;
}

.header h1 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 32pt;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  padding-bottom: 20px;
}

/* .header h1:hover {
  color: #1FF7AA;
  transition: color 1000ms
} */

h1 {
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 32pt;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-bottom: 50px;
}

h2 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16pt;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.header h2 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14pt;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h2:hover {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16pt;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

p {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 12pt;
}

a {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 16pt;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
}

/* –––––––––––––––––––––––––––––––––––– */

.button-white {
  width: 200px;
  height: 50px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-white a {
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 16pt;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
}

.button-black {
  width: 150px;
  height: 40px;
  background-color: black;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-black a {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 12pt;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
}

.button-black:hover {
  background-color: lightseagreen;
  transition: background-color 1000ms
}

.above-fold {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  
}

/* –––––––––––––––––––––––––––––––––––– */

.header {
  background-color: black;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-about {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: repeating-linear-gradient( 
    45deg,
    transparent 0px,
    transparent 5px,
    black 5px,
    black 14px);
  );
}

.header-about:hover {
  background-color: rgb(5, 218, 168);
  transition: background-color 500ms;
}

.header-work {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
    background: repeating-linear-gradient( 
    45deg,
    transparent 0px,
    transparent 5px,
    black 5px,
    black 14px);
  );
}

.header-work:hover {
  background-color: rgb(101, 189, 57);
  transition: background-color 500ms;
}

.header-say-hi {  
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background: repeating-linear-gradient( 
    135deg,
    transparent 0px,
    transparent 5px,
    black 5px,
    black 14px);
  );
}

.header-say-hi:hover {
  background-color: #E3F41D;
  transition: background-color 500ms;
}

/* –––––––––––––––––––––––––––––––––––– */

.section-about {
  width: 60vw;
  margin: 0 auto;
  padding-top: 100px;  
}

.button-spacer {
  /* background-color: lightcoral; */
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 0.5px solid black;
}

/* –––––––––––––––––––––––––––––––––––– */

.section-projects {
  /* background-color:grey; */
  width: 60vw;
  margin: 0 auto;
  padding-top: 100px; 
}

.projects-container {
  /* background-color: wheat; */
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 25px 1fr;
  grid-template-rows: 1fr 25px 1fr;
}

.project-1 {
  background-image: url("https://raw.githubusercontent.com/annarosz/annarosz.github.io/master/90ec001411d9f4c3b6162bfaae421bdd_grey.jpg");
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-2 {
  background-image: url("https://raw.githubusercontent.com/annarosz/annarosz.github.io/master/P6250010_grey.jpg");
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-3 {
  background-image: url("https://raw.githubusercontent.com/annarosz/annarosz.github.io/master/lgfig3_grey.jpg");
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-4 {
  background-image: url("https://raw.githubusercontent.com/annarosz/annarosz.github.io/master/purple_grey.jpg");
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-1 a {
  visibility: hidden;
}

.project-1:hover a {
  color:white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 16pt;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  visibility: visible;
}

.project-2 a {
  visibility: hidden;
}

.project-2:hover a {
  color:white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 16pt;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  visibility: visible;
}

.project-3 a {
  visibility: hidden;
}

.project-3:hover a {
  color:white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 16pt;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  visibility: visible;
}

.project-4 a {
  visibility: hidden;
}

.project-4:hover a {
  color:white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 16pt;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  visibility: visible;
}

.project:hover {
  background:linear-gradient(rgba(101, 189, 57, 1), rgba(101, 189, 57, 1));
  transition: background-color 500ms ease-in-out;
}

/* –––––––––––––––––––––––––––––––––––– */

.section-say-hi {
  /* background-color: pink; */
  width: 60vw;
  margin: 0 auto;
  padding-top: 100px;  
}

.say-hi-container {
  width: 100%;;
  padding: 50px;
  background: repeating-linear-gradient( 
    135deg,
    transparent 0px,
    transparent 4px,
    black 4px,
    black 10px);
  );
}

.say-hi-container h2 {
  color: black;
  /* font-family: 'Lato', sans-serif; */
  /* font-size: 12pt; */
  font-weight: 900;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}

input[type=text] {
  width: 100%;
  min-height: 45px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  margin-bottom: 50px;
  outline: none;
}

input[type=text]:focus {
  background-color: #E3F41D;
}

input[type=text]:hover {
  background-color: #E3F41D;
}

/* –––––––––––––––––––––––––––––––––––– */

footer {
  /* background-color: grey; */
  width: 60vw;
  height: 100px;
  margin: 0 auto;
  padding-top: 20px;
}

/* Media queries –––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 600px) {

  .above-fold {
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
  }

  .header {
    background-color: black;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .header-about {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background: repeating-linear-gradient( 
      135deg,
      transparent 0px,
      transparent 5px,
      black 5px,
      black 14px);
    );
  }

  .header-work {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
      background: repeating-linear-gradient( 
      45deg,
      transparent 0px,
      transparent 5px,
      black 5px,
      black 14px);
    );
  }

  .header-say-hi {  
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background: repeating-linear-gradient( 
      135deg,
      transparent 0px,
      transparent 5px,
      black 5px,
      black 14px);
    );
  }

  .header-about:focus {
    background-color: rgb(5, 218, 168);
    transition: background-color 500ms;
  }

  .header-work:focus {
    background-color: rgb(101, 189, 57);
    transition: background-color 500ms;
  }

  .header-say-hi:active {
    background-color: #E3F41D;
    transition: background-color 500ms;
  }

  .section-about {
    width: 70vw;
    margin: 0 auto;
    padding-top: 70px;  
  }

  .section-projects {
    width: 70vw;
    margin: 0 auto;
    padding-top: 70px; 
  }

  .projects-container {
    height: 80vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 25px 1fr 25px 1fr 25px 1fr;
  }

  .section-say-hi {
    width: 70vw;
    margin: 0 auto;
    padding-top: 70px;  
  }

  .say-hi-container {
    width: 100%;
    padding: 30px;
    background: repeating-linear-gradient( 
      135deg,
      transparent 0px,
      transparent 4px,
      black 4px,
      black 10px);
    );
  }
  
  .project-1 {
    background-image: url("https://raw.githubusercontent.com/annarosz/annarosz.github.io/master/90ec001411d9f4c3b6162bfaae421bdd_grey.jpg");
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .project-2 {
    background-image: url("https://raw.githubusercontent.com/annarosz/annarosz.github.io/master/P6250010_grey.jpg");
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .project-3 {
    background-image: url("https://raw.githubusercontent.com/annarosz/annarosz.github.io/master/lgfig3_grey.jpg");
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .project-4 {
    background-image: url("https://raw.githubusercontent.com/annarosz/annarosz.github.io/master/purple_grey.jpg");
    grid-column: 1 / 2;
    grid-row: 7 / 8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
